
header{
    padding: 30px;
    background-image: "/mountains.jpg";
    display: flex;
    position: fixed;
    width: 100%;
}

.visible{
    top:0;
    transition: top 0.8s ease-out;
}

.hidden{
    top:-80px;
    transition: top 0.8s ease-out;
}